body {
    font-family: "Playfair Dispay", sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    color:aquamarine;
background-color: black  

}
  
header {
    background: #020202;
    color: #e8e9f2c4;
    padding: 10px 0;
    text-align: center;
}

h1, h2 {
    margin: 10px 0;
}

.about {
    padding: 20px;
    text-align: center;
}

.profile-photo {
    max-width: 200px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

.music, .videos, .recommendations {
    padding: 20px;
}

.music ul, .recommendations ul {
    list-style-type: none;
    padding: 0;
}

.music li {
    margin: 10px 0;
}

.music-img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    vertical-align: middle;
}

.video-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

video-container iframe {
    width: 300px;
    height: 200px;
    margin: 10px;
}

footer {
    background: #040404;
    color: hsla(169, 68%, 53%, 0.768);
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
